extends layout

//- Pug Mixin created (to insert details inside card)
mixin personDetailsInsideCard
	if person[i].Image==undefined
		if person[i].Gender=="male"
			img.card-img-top(src='/mpf/missing_male.jpg', alt=person[i].Name)
		else
			img.card-img-top(src='/mpf/missing_female.png', alt=person[i].Name)
	else
		img.card-img-top(src='/uploads/missing/'+person[i].Image, alt=person[i].Name)
	.card-body
		h5.text-capitalize.card-title=person[i].Name
		ul.list-group.list-group-flush.myList
			li.list-group-item.bg-dark.text-light Gender: #{person[i].Gender}
			li.list-group-item.bg-dark.text-light Age: #{person[i].Age}
			li.list-group-item.bg-dark.text-light Skin: #{person[i].SkinColor}
			li.list-group-item.bg-dark.text-light Status: 
				span.badge.badge-success Found	
	.card-footer.bg-light
		a(href="/person/"+person[i]._id style="color:white").btn.btn-primary
			span.fa.fa-search
			|  INVESTIGATE


block header
	#About_Header
		h1(style="display:table-cell;text-align: center").align-middle Archive of all found people
	p.text-light.text-center.bg-success #{person.length} people were successfully found thanks to thousands of MPF volunteers and contributers around the world
	
block content
	- var n = person.length -1;
	- var i = 0;
	- var firstFivePeople = (person.length)-(person.length-5);
	h2 Found Person
	.bg-light.p-4
		br
		.card-deck
			.row
				if n < 4
					while i <= n
						.card.bg-dark
							span.badge.badge-pill.badge-danger#latest_item Recent
							+personDetailsInsideCard
						-var i=i+1;
				else
					while i <= n
						.col-sm-12.col-md-6.col-lg-4.col-xl-3.mb-4
							.card.bg-dark
								if i < firstFivePeople
									span.badge.badge-pill.badge-info#latest_item Recent
								+personDetailsInsideCard
						-var i=i+1;
		br
		hr