extends layout

block header
	#About_Header
		h1(style="display:table-cell;text-align: center").align-middle Archive of all found people
	p.text-light.text-center List of people who were later found thanks to thousands of MPF volunteers and contributers around the world
	
block content
	- var n = person.length -1;
	h2 Found Person
	.bg-light.p-4
		br
		.card-deck
			.row
				if n < 4
					while n >= 0
						.card.bg-dark
								span.badge.badge-pill.badge-danger#latest_item Recent
								if person[n].Image==undefined
									if person[n].Gender=="male"
										img.card-img-top(src='/mpf/missing_male.jpg', alt=person[n].Name)
									else
										img.card-img-top(src='/mpf/missing_female.png', alt=person[n].Name)
								else
									img.card-img-top(src='/uploads/missing/'+person[n].Image, alt=person[n].Name)
								.card-body
									h5.text-capitalize.card-title=person[n].Name
									ul.list-group.list-group-flush.myList
										li.list-group-item.bg-dark.text-light Gender: #{person[n].Gender}
										li.list-group-item.bg-dark.text-light Age: #{person[n].Age}
										li.list-group-item.bg-dark.text-light Skin: #{person[n].SkinColor}
										li.list-group-item.bg-dark.text-light Status: 
											span.badge.badge-success Found	
								.card-footer.bg-light
									a(href="/person/"+person[n]._id style="color:white").btn.btn-primary
										span.fa.fa-search
										|  INVESTIGATE
						-var n=n-1;
				if n > 11
					while person.length -13 < n
						.col-sm-12.col-md-6.col-lg-4.col-xl-3.mb-4
							.card.bg-dark
								if n > person.length -5
									span.badge.badge-pill.badge-danger#latest_item Recent
								if person[n].Image==undefined
									if person[n].Gender=="male"
										img.card-img-top(src='/mpf/missing_male.jpg', alt=person[n].Name)
									else
										img.card-img-top(src='/mpf/missing_female.png', alt=person[n].Name)
								else
									img.card-img-top(src='/uploads/missing/'+person[n].Image, alt=person[n].Name)
								.card-body
									h5.card-title=person[n].Name
									ul.list-group.list-group-flush.myList
										li.list-group-item.bg-dark.text-light Gender: #{person[n].Gender}
										li.list-group-item.bg-dark.text-light Age: #{person[n].Age}
										li.list-group-item.bg-dark.text-light Skin: #{person[n].SkinColor}
										li.list-group-item.bg-dark.text-light Status: 
											span.badge.badge-success Found	
								.card-footer.bg-light
									a(href="/person/"+person[n]._id style="color:white").btn.btn-primary
										span.fa.fa-search
										|  INVESTIGATE
						-var n=n-1;
				else
					while n >= 0
						.col-sm-12.col-md-6.col-lg-4.col-xl-3.mb-4
							.card.bg-dark
								if n > person.length -5
									span.badge.badge-pill.badge-danger#latest_item Recent
								if person[n].Image==undefined
									if person[n].Gender=="male"
										img.card-img-top(src='/mpf/missing_male.jpg', alt=person[n].Name)
									else
										img.card-img-top(src='/mpf/missing_female.png', alt=person[n].Name)
								else
									img.card-img-top(src='/uploads/missing/'+person[n].Image, alt=person[n].Name)
								.card-body
									h5.card-title=person[n].Name
									ul.list-group.list-group-flush.myList
										li.list-group-item.bg-dark.text-light Gender: #{person[n].Gender}
										li.list-group-item.bg-dark.text-light Age: #{person[n].Age}
										li.list-group-item.bg-dark.text-light Skin: #{person[n].SkinColor}
										li.list-group-item.bg-dark.text-light Status:
											span.badge.badge-success Found	
								.card-footer.bg-light
									a(href="/person/"+person[n]._id style="color:white").btn.btn-primary
										span.fa.fa-search
										|  INVESTIGATE
						-var n=n-1;
		br
		hr
