extends layout

block header
	#article_single
		h1(style="display:table-cell;text-align: center").align-middle Article

block content
	h1.text-md-center.text-sm-left.text-white.pb-4= article.title
	//- article content section
	.bg-light.p-4
		br
		if article.file != null
			img(src=article.file.url).d-block.w-100.h-auto.mx-auto
		br
		p= article.body
		hr
		span.text-muted Author
		h6.text-info #{author}
		hr
		if user
			if user.id == article.author
				a.btn.btn-success.mr-4(href='/articles/edit/'+article._id style="color:white") Edit Article
			if user.id == article.author || user.role == 'admin'
				a.btn.btn-danger.delete-article(href="#", data-id= article._id style="color:white") Delete

	//- comments section (add new comment)
	.bg-light.p-4
		br
		if user != null 
			form(method="POST", action='/articles/'+article._id+'/comments/'+user._id)
				#form-group
					//- label Add Comment:
					textarea.form-control.w-50(name="text", cols="20", rows="5") 
				br
				input.btn.btn-primary(type="submit", value="Comment")

	//- show comments
	if(comments)
		br
		- var totalComments = comments.length - 1;
		.bg-light.p-4
			h4 Comments (#{totalComments + 1})
			hr
			while totalComments >= 0
				.d-flex.flex-column
					div.d-flex
						span(class="fas fa-user").ml-2.mr-2.text-muted
						.text-small.text-muted #{comments[totalComments].authorUsername}
					div.ml-5 #{comments[totalComments].text}
					if user 
						if `${user._id}` == `${comments[totalComments].authorId}` || user.role == "admin"
							.d-flex
								a.ml-5.text-muted(href=`/articles/${article._id}/comments/${comments[totalComments]._id}` style="font-size: 12px") Edit
								a.ml-2.text-muted.delete-comment(href="#" data-id= comments[totalComments]._id data-article= article._id style="font-size: 12px") Delete
				hr
				- totalComments = totalComments - 1;

				//- edit comment 
			if editComment
				form(method="POST" action=href=`/articles/${article._id}/comments/${editComment._id}/update`)
					#form-group
						textarea.form-control.w-30(name="text", cols="10", rows="5")= editComment.text
						br
						input.btn.btn-primary(type="submit", value="Update comment")
