extends layout

block header
	#AMP_header
		h1(style="display:table-cell;text-align: center").align-middle #{title}
	p.text-white.bg-info.text-center You can update/change person information and Status

block content
	h1 Edit Person
	.bg-light.p-4
		form(method='POST', action='/person/edit/'+person._id)
			.row
				.col-sm-12
					.preview-images
						if person.Image === null
							if person.Gender == "female"
								img(src="/mpf/missing_female.png")#Profile_Image
							else
								img(src="/mpf/missing_male.jpg")#Profile_Image
						else
							img(src=person.Image.url)#Profile_Image.mb-3
			#form-group
				label Name
				span.text-danger *
				input.form-control(name="name", type='text' value=person.Name)
			#form-group
				label Gender
				span.text-danger *
				select.form-control(name="gender" id="gender" value=person.Gender)
					option(value="male") Male
					option(value="female") Female
					option(value="other") Other
			#form-group
				label Mental Disorder
				span.text-danger *
				div.form-check.form-check-inline
					.form-check
						input(type="radio" value="true" name="mentalStatus").form-check-input#Check1
						label(for="Check1").form-check-label.text-secondary Yes
					.form-check
						input(type="radio" value="false" name="mentalStatus").form-check-input#Check2
						label(for="Check2").form-check-label.text-secondary No
			#form-group
				label Body Type
				span.text-danger *
				select.form-control(name="body" id="body")
					option(value="skinny") Skinny
					option(value="normal") Normal
					option(value="fat") Fat
			#form-group
				label Age
				span.text-danger *
				span.text-black.small   (years)
				input.form-control(name="age", type='number' value=person.Age)
			#form-group
				label Weight
				span.text-danger *
				span.text-black.small   (approx Kg)
				input.form-control(name="weight", type='number' value=person.Weight)
			#form-group
				label Height
				span.text-danger *
				span.text-black.small    (cm)
				input.form-control(name="height", type='number' value=person.Height)
			#form-group
				label Skin Color
				span.text-danger *
				select.form-control(name="skinColor" id="skinColor")
					option(value="light") Light
					option(value="fair") Fair
					option(value="medium") Medium
					option(value="olive") Olive
					option(value="tan") Tan
					option(value="brown") Brown
					option(value="dark") Dark Brown
					option(value="black") Black
			#form-group
				label Eye Color
				span.text-danger *
				select.form-control(name="eyeColor" id="eyeColor")
					option(value="amber") Amber
					option(value="blue") Blue
					option(value="brown") Brown
					option(value="gray") Gray
					option(value="green") Green
					option(value="hazel") Hazel
					option(value="red") Red and Violet
			#form-group
				label Hair Type
				span.text-danger *
				select.form-control(name="hair" id="hair")
					option(value="straight") Straight
					option(value="wavy") Wavy
					option(value="curly") Curly
					option(value="coily") Coily
					option(value="bold") Bold
			#form-group
				label Country
				span.text-danger *
				input.form-control(name="country", type='text' list='countries' class="search" value=person.Country)
				datalist(id="countries")
			#form-group
				label Address
				span.text-danger *
				input.form-control(name="address", type='text' value=person.Address)
			#form-group
				label Current Status
				span.text-danger *
				select.form-control(name="currentStatus" id="currentStatus")
					option(value="missing") Missing
					option(value="found") Found
			#form-group
				label Description
				span.text-danger *
				textarea.form-control(name="description")=person.Description
			
			br
			input(type="text" value=person.Image name="oldFileCheck" style="display:none")

			input.btn.btn-primary(type='submit',value='Update')


	//- for populating country dropdown
	script(src="/js/populateCountryDropdown.js")
	