extends layout

//- Pug Mixin created (for inserting Data inside card) 
mixin personDetailsInsideCard
	if person[i].Image.url===undefined
		if person[i].Gender=="male"
			img.card-img-top(src='/mpf/missing_male.jpg', alt=person[i].Name)
		else
			img.card-img-top(src='/mpf/missing_female.png', alt=person[i].Name)
	else
		img.card-img-top(src=person[i].Image.url, alt=person[i].Name)
	.card-body
		h5.text-capitalize.card-title=person[i].Name
		ul.list-group.list-group-flush.myList
			li.list-group-item.bg-dark.text-light Gender: #{person[i].Gender}
			li.list-group-item.bg-dark.text-light Age: #{person[i].Age}
			li.list-group-item.bg-dark.text-light Skin: #{person[i].SkinColor}
			li.list-group-item.bg-dark.text-light Status: 
				if person[i].CurrentStatus == "missing"
					span.badge.badge-warning Missing
				else
					span.badge.badge-success Found	
	.card-footer.bg-light
		a(href="/person/"+person[i]._id style="color:white").btn.btn-primary
			span.fa.fa-search
			|  INVESTIGATE

mixin searchForm
	section.align-middle.search-sec#person_search_pageForm
		.container
			form(action='/person/person_search/', method='post', novalidate='novalidate')
						
				.row
					.col-md-3.col-sm-12.my-2.my-md-0
						input.form-control.search-slt(type='text', placeholder='Name' name="name")
					.col-md-3.col-sm-12.my-2.my-md-0
						input.form-control.search-slt(type='text', placeholder='Country' name="country")
					.col-md-3.col-sm-12.my-2.my-md-0
						select.form-control.search-slt(name="gender")
							option(value="gender" selected) Gender
							option(value="male") Male
							option(value="female") Female
					.col-md-3.col-sm-12.p-0.my-2.my-md-0
							button.btn.btn-primary.wrn-btn(type='submit' ) Search

mixin divider
	div.d-flex.text-center.justify-content-center
		div(style="display:inline-block;border-top:white 1px solid;width:30%;margin:30px")
		p(style="font-size:20px;font-weight:bold").text-white.d-inline-block OR
		div(style="display:inline-block;border-top:white 1px solid;width:30%;margin:30px")

mixin imageSearch
	section.align-middle#person_search_pageForm
		.container.w-50
			form(action='/person/person_search_by_image', method='post',enctype="multipart/form-data" novalidate='novalidate')
				.row
					.col-lg-6.col-sm-12.my-2.my-lg-0
						input#input-files.form-control-file.form-control-lg.border(type='file', name='file')
					.col-lg-6.col-sm-12.p-0
						button.btn.btn-primary.wrn-btn(type='submit' ) Image Search

//- Content

block header
	.carousel.slide(data-ride='carousel')
		.carousel-inner
			.carousel-item.active
				img.d-block.w-100(src='../mpf/happy3.webp', alt='...')
			.carousel-item
				img.d-block.w-100(src='../mpf/happy1.webp', alt='...')
			.carousel-item
				img.d-block.w-100(src='../mpf/happy2.webp', alt='...')
	+searchForm
	+divider
	+imageSearch
			

block content
	- var n = person.length -1;
	- var i = 0;
	h2 Recent Listing
	.bg-light.p-4
		br
		.card-deck
			.row
				if n < 4
					while i <= n
						.card.bg-dark
								span.badge.badge-pill.badge-danger#latest_item Latest
								//- using Mixin
								+personDetailsInsideCard
						-var i=i+1;
				else
					while i <= n
						.col-sm-12.col-md-6.col-lg-4.mb-4
							.card.bg-dark
								if i < person.length -8
									span.badge.badge-pill.badge-danger#latest_item Latest
								//- using Mixin
								+personDetailsInsideCard
						-var i=i+1;
		br
		hr
	br
	br
	h2 Articles
	-var art = articles.length -1;
	.bg-light.p-4
		ul.list-group
			if art < 10
				while art >=0
					if art > articles.length-3
						li.list-group-item.bg-dark.text-light
							a(href='/articles/'+articles[art]._id).text-light= articles[art].title
								span.badge.badge-pill.badge-info#latest_item Latest
					else
						li.list-group-item.bg-dark.text-light
							a(href='/articles/'+articles[art]._id).text-light= articles[art].title
					-var art = art-1;
			else
				while articles.length -11 < art
					if art > articles.length-3
						li.list-group-item.bg-dark.text-light
							a(href='/articles/'+articles[art]._id).text-light= articles[art].title
								span.badge.badge-pill.badge-info#latest_item Latest
					else
						li.list-group-item.bg-dark.text-light
							a(href='/articles/'+articles[art]._id).text-light= articles[art].title
					-var art = art-1;