extends layout

block header
	#Investigate_Header
		h1(style="display:table-cell;text-align: center").align-middle Investigate

block content
	.bg-light.p-4
		if person.Image.url === undefined
			if person.Gender == "male"
				img(src="/mpf/missing_male.jpg" style="width:250px;height:250px;display:block;margin-left:auto;margin-right:auto")
			else
				img(src="/mpf/missing_female.png" style="width:250px;height:250px;display:block;margin-left:auto;margin-right:auto")
		else
			img(src=person.Image.url style="width:250px;height:250px;display:block;margin-left:auto;margin-right:auto")
		br
		h2.text-center= person.Name
		br
		table.table.table-hover.table-dark
			tbody
				tr
					td Name
					td(colspan="2")= person.Name
				tr
					td Gender
					td(colspan="2")= person.Gender
				tr
					td Mental Disorder
					td(colspan="2")= person.MentalStatus ? "Yes" : "No" 
				tr
					td Body Type
					td(colspan="2")= person.Body
				tr
					td Age
					td(colspan="2") #{person.Age} years
				tr
					td Weight
					td(colspan="2") #{person.Weight} Kg
				tr
					td Height
					td(colspan="2") #{person.Height} cm
				tr
					td Skin Color
					td(colspan="2")= person.SkinColor
				tr
					td Eye Color
					td(colspan="2")= person.EyeColor
				tr
					td Hair
					td(colspan="2")= person.Hair
				tr
					td Country
					td(colspan="2")= person.Country
				tr
					td City
					td(colspan="2")= person.City
				tr
					td Current Status
					td(colspan="2")= person.CurrentStatus
		table.table.table-hover.table-dark
			tbody
				tr
					td Description
					td(colspan="2")= person.Description

		h4.bg-info(style="color:white") Do you have any information about #{person.Name} ?
		h4.bg-info(style="color:white") Yes? It would greatly help #{user.name} in the Search, Contact #{user.name}.
		if user.file.url == undefined
			img(src="/mpf/male.webp" style="width:250px;height:200px;display:block;margin-left:auto;margin-right:auto")
		else
			img(src=user.file.url style="width:250px;height:250px;display:block;margin-left:auto;margin-right:auto")
		br
		table.table.table-hover.table-dark
			tbody
				tr
					td Name
					td(colspan="2")= user.name
		table.table.table-hover.table-primary
			tbody
				tr
					td Phone
					td(colspan="2")
						a(href="tel:"+user.contact) 
							<i class="fa fa-phone text-primary fa-flip-horizontal" aria-hidden="true"></i> Click to call #{user.contact}
				tr
					td Email
					td(colspan="2")
						a(href="mailto: "+user.email  target="_blank")
							<i class="fa fa-envelope text-primary" aria-hidden="true"></i> Click to Email
